@import '_header.css';
@import '_range.css';
@import '_product.css';


html, body {
    height: 100%;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.wrapper > main {
    flex-grow: 1;
}


.footer {
    text-align: center;
}

.footer__link {
    padding: 15px;
    border: 1px solid black;
    border-radius: 17px;
    transition: all 0.3s;
    background-color: rgb(46, 127, 209);
    color: rgb(223, 226, 230);
}

.footer__link:hover {
    box-shadow: 0 10px 20px rgba(184, 142, 47, 0.3);
    background-color: #967322;
    transform: translateY(-2px);
}



@media (max-width: 768px) {
    .hero {
        min-height: auto;
        margin-bottom: 40px;
        background-image: none;
    }

    .content__title {
        font-size: 32px;
        text-wrap: pretty;
    }

    .content__btn {
        width: 100%;
        text-align: center;
    }

    .hero::before {
        content: "";
        display: block;
        width: 100%;
        height: 400px; 
        background-image: url(../img/collection-bg.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    .hero__container {
        flex-direction: column;
        padding: 0 15px;
    }

    .hero__card {
        max-width: 100%;
        margin-top: 20px;
    }

    .content {
        padding: 30px 15px;
    }
}