.products__header-block {
    margin-bottom: 96px;
}
.header-block {
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: flex-start;
}
.header-block--center {
    justify-content: center;
    align-items: center;
    text-align: center;
}

.header-block--center .header-block__text {
    /* text-wrap: pretty; */
    max-width: 710px;
}

.header-block__title {
    font-size: 48px;
    font-weight: 600;
}
.header-block__text {
    line-height: 1.75;
    opacity: 0.6;
}

.header-block__text p:not(:last-child) {
    margin-bottom: 15px;
}